@import '../../styles/_variables'; // Import your variables file

.header {
  padding: $spacing-md;
  color: $light-color;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .logo-icon,
    .icon {
      height: 40px;
      width: 40px;
      color: $light-color;
    }

    .header-buttons {
      display: flex;
      align-items: center;
      gap: $spacing-md;

      .theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
        align-items: center;
        transition: color 0.3s ease;

        &:hover {
          color: lighten($light-color, 20%);
        }

        .icon {
          height: 40px;
          width: 40px;
        }
      }

      .auth-buttons {
        display: flex;
        background: none;
        border: none;
        align-items: center;

        .icon {
          margin-left: $spacing-sm;
          transition: color 0.3s ease;
          width: 40px;
          height: 40px;

          &:hover {
            color: lighten($light-color, 20%);
          }
        }
      }
    }
  }
}
