// index.scss or App.scss

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.app-header {
  padding: 20px;
  text-align: center;
  background-color: #282c34;
  color: white;
}

// Mobile-first styles here

.app {
  padding: 10px;
}

// Example of a media query for tablets and larger screens
@media (min-width: 768px) {
  .app {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .app-header {
    padding: 40px;
  }
}
